In [7]:
#PANDAS TOTURIAL
#import dataset into pandas
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
startups=pd.read_csv('C:\Users/USER/Desktop/AI/MACHINE-LEARNING-JOURNEY/diamonds.csv')
print(startups)
print(startups.head()) #this print the heading an 5 basic of the dataset 
print (startups.tail()) #this print the tail an 5 basic ending of the dataset

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2296236782.py, line 6)

In [8]:
#CHOOSING SPECIFIC COLUMNS 
dat1 = startups[['Profit']]
print(dat1)
dat2 = startups[['Marketing Spend']]
print(dat2)

#A matplot to visualize the data for interpretation
plt.title('50 startups inUS and their profit')
plt.xlabel('profits')
plt.ylabel('Marketing spend')
plt.plot(dat1,dat2)
plt.show()

NameError: name 'startups' is not defined

In [2]:
#Filter for specific values in your dataframe
filters =startups.State == 'California'
print(filters)
dat4=startups[filters]
print(dat4)

NameError: name 'startups' is not defined

In [3]:
#DATA AGGREGATION 
#counting the number of rows
dat5=startups.count()
print(dat5)
#counting specific column 
dat6=startups[['Profit']].count()
print(dat6)

#This also selects only one column, 
#but it turns our pandas dataframe object into a pandas series object
dat7=startups.State.count()
print(dat7)

NameError: name 'startups' is not defined

In [4]:
#SUM FUNCTION 
#summing up the entire dataset
dat8= startups.sum()
print(dat8)
#summing up a particular column
dat9= startups.Profit.sum()
print(dat9)

NameError: name 'startups' is not defined

In [20]:
#MAXIMUM AND MINIMUM VALUE
dat10=startups.Profit.min()
print(dat10)
dat_max=startups.Profit.max()
print( dat_max)

14681.4
192261.83

In [24]:
#MEDIAN AND MEAN OF DATAFRAME 
dat11= startups.Administration.mean()
print(dat11)
#dispalying the data in object not series
dat12=startups[['Profit']].median()
print(dat12)
#SEGMENTATION -- GROUPBY()
dat12=startups.groupby('Profit').mean()
print(dat12)

121344.63959999995
Profit    107978.19
dtype: float64
           R&D Spend  Administration  Marketing Spend
Profit
14681.40        0.00       116983.80         45173.06
35673.41      542.05        51743.15             0.00
42559.73        0.00       135426.92             0.00
49490.75     1315.46       115816.21        297114.46
64926.08     1000.23       124153.04          1903.93
65200.33    22177.74       154806.14         28334.72
69758.98    15505.73       127382.30         35534.17
71498.49    23640.93        96189.63        148001.11
77798.83    27892.92        84710.77        164470.71
78239.91    28754.33       118546.05        172795.67
81005.76    38558.51        82982.09        174999.30
81229.06    20229.59        65947.93        185265.10
89949.14    44069.95        51283.14        197029.42
90708.19    28663.76       127056.21        201126.82
96479.51    46014.02        85047.44        205517.64
96712.80    46426.07       157693.92        210797.67
96778.92    55493.95       103057.49        214634.81
97427.84    63408.86       129219.61         46085.25
97483.56    61136.38       152701.92         88218.23
99937.59    61994.48       115641.28         91131.24
101004.64   65605.48       153032.06        107138.38
103282.38   66051.52       182645.56        118148.20
105008.31   72107.60       127864.55        353183.81
105733.54   75328.87       144135.98        134050.07
107404.34   64664.71       139553.16        137962.62
108552.04   77044.01        99281.34        140574.81
108733.99   67532.53       105751.03        304768.73
110352.25   73994.56       122782.75        303319.26
111313.02   78389.47       153773.43        299737.29
118474.03   76253.86       113867.30        298664.47
122776.86   86419.70       153514.11             0.00
124266.90   91749.16       114175.79        294919.57
125370.37   94657.16       145077.58        282574.31
126992.93   78013.11       121597.55        264346.06
129917.04  114523.61       122616.84        261776.23
132602.65  119943.24       156547.42        256512.92
134307.35   91992.39       135495.07        252664.93
141585.52   93863.75       127320.38        249839.44
144259.40  100671.96        91790.61        249744.55
146121.95  101913.08       110594.11        229160.95
149759.96  123334.88       108679.17        304981.62
152211.77  120542.52       148718.95        311613.29
155752.60  130298.13       145530.06        323876.68
156122.51  134615.46       147198.87        127716.82
156991.12  131876.90        99814.71        362861.36
166187.94  142107.34        91391.77        366168.42
182901.99  144372.41       118671.85        383199.62
191050.39  153441.51       101145.55        407934.54
191792.06  162597.70       151377.59        443898.53
192261.83  165349.20       136897.80        471784.10